/* Individual transforms for images */
.background1 {
  transform: translateZ(-10px) scale(2);
}

.background2 {
  transform: translateZ(-10px) scale(2);
}

.background3 {
  transform: translateZ(-5px) scale(1.5);
}

.background4 {
  transform: translateZ(-2px) scale(1.2);
}

.foreground {
  transform: translateZ(0px) scale(1);
}

/* Parallax Styling */
.background1,
.background2,
.background3,
.background4,
.foreground {
  object-fit: cover;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

@media (max-width: 768px) {
  .background1,
  .background2,
  .background3,
  .background4,
  .foreground {
    object-fit: cover;
    position: absolute;
    height: 50vh;
    width: 100vw;
    z-index: -1;
  }
}
