.navBigScreen {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  color: white;
  font-family: var(--font-roboto-mono);
  font-size: 1.4rem;
}

.navBigItem {
  padding: 10px;
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .navBigScreen {
    display: none;
  }
}
