/* Full credit to Josh Comeau for this CSS reset! */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  padding: 0;
  font-family: var(--font-opensans);
  background-color: #0c0d0f;
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #3d3d3d #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  height: 1px;
  background: #ccc;
  background-image: linear-gradient(to right, #fff, #ccc, #fff);
}

.prose {
  color: #eeeef0;
  p {
    font-size: 1.125rem;
    margin-bottom: 1.125rem;
  }
  h1 {
    font-size: 2.25rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.875rem;
    margin-bottom: 0.75rem;
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  h4 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  ol,
  ul {
    margin-top: -1.5rem;
  }
  .katex-display {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
