.gridParent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 1000px;
  height: 500px;
  font-family: var(--font-roboto-mono);
  .div1 {
    grid-area: 1 / 1 / 2 / 3;
    background-color: #18181b;
    border-radius: 10px;
    padding: 20px;
  }

  .div2 {
    grid-area: 1 / 3 / 3 / 4;
    background-color: #18181b;
    border-radius: 10px;
    padding: 20px;
  }
  .div3 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #18181b;
    border-radius: 10px;
    padding: 20px;
  }
  .div4 {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #18181b;
    border-radius: 10px;
    padding: 20px;
  }
  .gridText {
    font-size: 1.1rem;
  }
}

@media (max-width: 1200px) {
  .gridParent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
