.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
}

.petal {
  position: absolute;
  top: -50px;
  user-select: none;
}
